name: CI/CD Workflow

on:
  workflow_call:
    inputs:
      PYTHON_VERSION:
        required: true
        type: string
  push:
    branches:
      - "**"

jobs:
  run-test:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies and run tests
        run: |
          echo "Running tests"
          make run-test
